<div class="pc-container">
  <div class="pcoded-content">
  
  <div class="page-header">
  <div class="page-block">
  <div class="row align-items-center">
  <div class="col-md-12">
  <div class="page-header-title">
  <h5 class="m-b-10">Utilisateurs</h5>
  </div>
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/users">Home</a></li>
  <li class="breadcrumb-item"> Gestion Des Utilisateurs </li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  
  
  <div class="row">
  
   
  <div class="card">
  <div class="card-header"  style="border-color: transparent; margin-bottom: -50px;">
  <h5>Liste des Utilisateurs</h5>
  <div style="margin-top: 20px;">
    <div class="d-flex">
      <div class="p-2 flex-grow-1">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
          <input type="text" class="form-control" placeholder="Recherche Dynamique" [(ngModel)]="searchText">
        </div>
      </div>
      <div class="p-2"></div>
      <div class="p-2">
        <button type="button" class="btn btn-outline-primary" (click)="addUser()">
          <i class="fa fa-plus"></i> Ajouter Utilisateur </button>
      </div>
    </div>
  </div>
 
  </div>
  <div class="card-body" >
    <table class="table table-hover">
      <thead >
       
        <tr>
        <th scope="col" style="background: transparent;">Image</th>
        <th scope="col" style="background: transparent;">Nom</th>
        <th scope="col"style="background: transparent;">Prenom</th>
        <th scope="col" style="background: transparent;">Role</th>
        <th scope="col" style="background: transparent;">Email</th>
        <th scope="col" style="background: transparent;">Nom D'utilisateur</th>
        <th scope="col" style="background: transparent;">Action</th>

      </tr>
      
    </thead>
    <tbody >
      <tr *ngFor="let us of repository.users  | filter: searchText | paginate
      : {
          id: 'MicroservicePagination',
          itemsPerPage: 3 ,
          currentPage: p,
          totalItems: repository.users.length
        }">
        
        <td><img [src]="createImgPath(us.imagePath)" alt="profile picture" style="width:60px; height:60px;"></td>
        <td>{{us.nom}}</td>
        <td>{{us.prenom}}</td>
        <td>{{us.role}}</td>
        <td>{{us.email}}</td>
        <td>{{us.username}}</td>
        <td>
          <button type="button" id="update" class="btn btn-outline-success btn-sm" (click)="ChangeRole(us)" style="margin-right: 10px;border-radius: 25px;"><i class="fas fa-edit"></i> Changer Role</button> 
          <button type="button" id="update" class="btn btn-outline-info btn-sm" (click)="updateuser(us)" style="margin-right: 10px;border-radius: 25px;"><i class="fas fa-edit"></i> Changer Mot de passe</button> 

          </td>
        


           
      </tr>
    </tbody>
  </table>
 


    <pagination-controls id="MicroservicePagination" class="my-pagination" (pageChange)="p = $event"
    previousLabel="Prec " nextLabel="Suiv ">
    </pagination-controls>
    
  </div>
  </div>
  </div>
  
  </div>
  
  </div>
 
  