<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
              <div class="row align-items-center">
                  <div class="col-md-12">
                      <div class="page-header-title">
                          <h5 class="m-b-10">Dashboard</h5>
                      </div>
                      <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../navigation/index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0)">Membership</a></li>
                        <li class="breadcrumb-item" aria-current="page">Dashboard</li>
                      </ul>
                  </div>
              </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- visitors  start -->
            <div class="col-sm-6 col-lg-3">
                <div class="card bg-primary text-white widget-visitor-card">
                    <div class="card-body text-center">
                        <h2 class="text-white">{{imp[0].nombre}}</h2>
                        <h6 class="text-white">{{imp[0].nom}}</h6>
                        <i class="fas fa-user"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card bg-success text-white widget-visitor-card">
                    <div class="card-body text-center">
                        <h2 class="text-white">{{imp[1].nombre}}</h2>
                        <h6 class="text-white">{{imp[1].nom}}</h6>
                        <i class="fas fa-user-check"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card bg-danger text-white widget-visitor-card">
                    <div class="card-body text-center">
                        <h2 class="text-white">{{imp[2].nombre}}</h2>
                        <h6 class="text-white">{{imp[2].nom}}</h6>
                        <i class="fas fa-user-tie"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card bg-warning text-white widget-visitor-card">
                    <div class="card-body text-center">
                        <h2 class="text-white">{{imp[3].nombre}}</h2>
                        <h6 class="text-white">{{imp[3].nom}}</h6>
                        <i class="fas fa-user-shield"></i>
                    </div>
                </div>
            </div>
            <!-- visitors  end -->
            <!-- progressbar static data start -->
            <div class="col-lg-8 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5>Nombre d'employé par projet</h5>
                    </div>
                    <div class="card-body">
                        <apx-chart
                        [series]="chartOptions.series"
                        [chart]="chartOptions.chart"
                        [xaxis]="chartOptions.xaxis"
                        [dataLabels]="chartOptions.dataLabels"
                        [grid]="chartOptions.grid"
                        [stroke]="chartOptions.stroke"
                        [title]="chartOptions.title"
                        [labels]="chartOptions.labels"
                        [annotations]="chartOptions.annotations"
                      ></apx-chart>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h6>Nombre Membre Projet par projet
                        </h6>
                        
                            <apx-chart
                              [series]="chartOptionsPie.series"
                              [chart]="chartOptionsPie.chart"
                              [labels]="chartOptionsPie.labels"
                              [responsive]="chartOptionsPie.responsive"
                            ></apx-chart>
                    
                </div>
            </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Nombre de type ticket par projet</h5>
                    </div>
                    <div class="card-body">
                        <div id="chart">
                            <apx-chart
                              [series]="chartOptionsS.series"
                              [chart]="chartOptionsS.chart"
                              [xaxis]="chartOptionsS.xaxis"
                              [markers]="chartOptionsS.markers"
                              [stroke]="chartOptionsS.stroke"
                              [yaxis]="chartOptionsS.yaxis"
                              [dataLabels]="chartOptionsS.dataLabels"
                              [title]="chartOptionsS.title"
                              [fill]="chartOptionsS.fill"
                              [tooltip]="chartOptionsS.tooltip"
                              [legend]="chartOptionsS.legend"
                            ></apx-chart>
                    </div>
                </div>
            </div>
            <!-- progressbar static data end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>