<div class="pc-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
              <div class="row align-items-center">
                  <div class="col-md-12">
                      <div class="page-header-title">
                          <h5 class="m-b-10">Dashboard</h5>
                      </div>
                      <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../navigation/index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0)">Hospital</a></li>
                        <li class="breadcrumb-item" aria-current="page">Dashboard</li>
                      </ul>
                  </div>
              </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- customar project  start -->
            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center m-l-0">
                            <div class="col-auto">
                                <i class="fas fa-user-md f-36 text-info"></i>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-muted m-b-10">Doctor</h6>
                                <h2 class="m-b-0">35</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center m-l-0">
                            <div class="col-auto">
                                <i class="fas fa-user-injured f-36 text-danger"></i>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-muted m-b-10">Patient</h6>
                                <h2 class="m-b-0">368</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center m-l-0">
                            <div class="col-auto">
                                <i class="fas fa-user-nurse f-36 text-success"></i>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-muted m-b-10">Nurse</h6>
                                <h2 class="m-b-0">79</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center m-l-0">
                            <div class="col-auto">
                                <i class="fas fa-prescription-bottle-alt f-36 text-primary"></i>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-muted m-b-10">Pharmacist</h6>
                                <h2 class="m-b-0">10</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center m-l-0">
                            <div class="col-auto">
                                <i class="fas fa-flask f-36 text-warning"></i>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-muted m-b-10">Laboratories</h6>
                                <h2 class="m-b-0">35</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center m-l-0">
                            <div class="col-auto">
                                <i class="fas fa-user-tie f-36 text-primary"></i>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-muted m-b-10">Accountant</h6>
                                <h2 class="m-b-0">368</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center m-l-0">
                            <div class="col-auto">
                                <i class="fas fa-file-invoice-dollar f-36 text-danger"></i>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-muted m-b-10">Payment</h6>
                                <h2 class="m-b-0">79</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center m-l-0">
                            <div class="col-auto">
                                <i class="fas fa-pills f-36 text-info"></i>
                            </div>
                            <div class="col-auto">
                                <h6 class="text-muted m-b-10">Medicine</h6>
                                <h2 class="m-b-0">10</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- customar project  end -->
            <!-- subscribe start -->
            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="fas fa-procedures text-primary d-block f-40"></i>
                        <h4 class="m-t-20 m-b-20"><span class="text-primary">8.62k</span> Operation</h4>
                        <button class="btn btn-primary btn-sm btn-round" data-bs-toggle="modal" data-title="Operation" data-bs-target="#modal-report">View Report</button>
                    </div>
                    <div id="operation-chart"></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="fas fa-skull-crossbones text-success d-block f-40"></i>
                        <h4 class="m-t-20 m-b-20"><span class="text-success">+40</span> Death</h4>
                        <button class="btn btn-success btn-sm btn-round" data-bs-toggle="modal" data-title="Death" data-bs-target="#modal-report">View Report</button>
                    </div>
                    <div id="death-chart"></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="fas fa-baby text-danger d-block f-40"></i>
                        <h4 class="m-t-20 m-b-20"><span class="text-danger">+40</span> Birth</h4>
                        <button class="btn btn-danger btn-sm btn-round" data-bs-toggle="modal" data-title="Birth" data-bs-target="#modal-report">View Report</button>
                    </div>
                    <div id="birth-chart"></div>
                </div>
            </div>
            <!-- subscribe end -->

        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>