<div class="pc-container">
    <div class="pcoded-content">
		<div class="d-flex flex-row mb-3">
			<div class="p-2">
				A faire
				<div dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, repository.tache)">

					<div dndPlaceholderRef>
					</div>  
			   
				   <div class="card user-card user-card-1" *ngFor="let item of repository.tache" [dndDraggable]="item" dndEffectAllowed="move" 
				   (dndMoved)="onDragged(item, repository.tache, 'move')">
				   <div class="card-body pt-0">
					   {{item.tacheTitre}}
				   </div>
				
			 
			</div>
			</div>


			</div>
			<div class="p-2">Dev En cours

				<div dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, repository.tache)">

					<div dndPlaceholderRef>
					</div>  
			   
				   <div class="card user-card user-card-1" *ngFor="let item of repository.tache" [dndDraggable]="item" dndEffectAllowed="move" 
				   (dndMoved)="onDragged(item, repository.tache, 'move')">
				   <div class="card-body pt-0">
					   {{item.tacheTitre}}
				   </div>
				
			 
			</div>
			</div>
			</div>
			<div class="p-2">Dev Terminer

				<div dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, repository.tache)">

					<div dndPlaceholderRef>
					</div>  
			   
				   <div class="card user-card user-card-1" *ngFor="let item of repository.tache" [dndDraggable]="item" dndEffectAllowed="move" 
				   (dndMoved)="onDragged(item, repository.tache, 'move')">
				   <div class="card-body pt-0">
					   {{item.tacheTitre}}
				   </div>
				
			 
			</div>
			</div>
			</div>
			<div class="p-2">Bogue

				<div dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, repository.tache)">

					<div dndPlaceholderRef>
					</div>  
			   
				   <div class="card user-card user-card-1" *ngFor="let item of repository.tache" [dndDraggable]="item" dndEffectAllowed="move" 
				   (dndMoved)="onDragged(item, repository.tache, 'move')">
				   <div class="card-body pt-0">
					   {{item.tacheTitre}}
				   </div>
				
			 
			</div>
			</div>
			</div>

			<div class="p-2">Test OK

				<div dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, repository.tache)">

					<div dndPlaceholderRef>
					</div>  
			   
				   <div class="card user-card user-card-1" *ngFor="let item of repository.tache" [dndDraggable]="item" dndEffectAllowed="move" 
				   (dndMoved)="onDragged(item, repository.tache, 'move')">
				   <div class="card-body pt-0">
					   {{item.tacheTitre}}
				   </div>
				
			 
			</div>
			</div>
			</div>

			<div class="p-2">Test KO

				<div dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, repository.tache)">

					<div dndPlaceholderRef>
					</div>  
			   
				   <div class="card user-card user-card-1" *ngFor="let item of repository.tache" [dndDraggable]="item" dndEffectAllowed="move" 
				   (dndMoved)="onDragged(item, repository.tache, 'move')">
				   <div class="card-body pt-0">
					   {{item.tacheTitre}}
				   </div>
				
			 
			</div>
			</div>
			</div>
			<div class="p-2">Annuler

				<div dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, repository.tache)">

					<div dndPlaceholderRef>
					</div>  
			   
				   <div class="card user-card user-card-1" *ngFor="let item of repository.tache" [dndDraggable]="item" dndEffectAllowed="move" 
				   (dndMoved)="onDragged(item, repository.tache, 'move')">
				   <div class="card-body pt-0">
					   {{item.tacheTitre}}
				   </div>
				
			 
			</div>
			</div>
			</div>
		  </div>


 
		
		


    </div>
</div>