<body>
    <section>
      <div class="container">
        <div class="text">
          <h1>Accès refusé</h1>
          <p>Vous n'êtes pas autorisé à accéder à cette page.</p>
          <p>contactez votre administrateur pour vous donner accès à cette page.</p>
          <div class="input-box">
            
          </div>
          <!-- <ul class="menu">
            <li><a href="#">Aller à la page d'accueil</a></li>
          </ul> -->
        </div>
        <div style="
        font-size: xxx-large;
        color: #00c2cb;
    ">403</div>
      </div>
   
    </section>
  
  </body>