<div class="pc-container">
  <div class="pcoded-content">
  
  <div class="page-header">
  <div class="page-block">
  <div class="row align-items-center">
  <div class="col-md-12">
  <div class="page-header-title">
  <h5 class="m-b-10">Priorité</h5>
  </div>
  <ul class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item">Priorite Page</li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  
  
  <div class="row">
  
  <div class="col-sm-12">
  <div class="card">
  <div class="card-header">
  <h5>Priorité Liste</h5>
  <div style="margin-top: 20px;">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
      <input type="text" class="form-control" placeholder="Recherche Dynamique" [(ngModel)]="searchText">
    </div>
    
    <button type="button" class="btn btn-outline-primary" (click)="AddPriorite()">
      <i class="fa fa-plus"></i> Ajouter Priorité </button>

  </div>
 
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead class="thead-light ">
      <tr>
        
        <th>Libelle</th>
        <th>Active</th>
        <th>Actions</th>
       
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let pr of repository.priorities  | filter: searchText | paginate
      : {
          id: 'MicroservicePagination',
          itemsPerPage: 3,
          currentPage: p,
          totalItems: repository.priorities.length
        }">
        
        <td>{{pr.libellePriorite}}</td>
        <td *ngIf = "pr.isActive"> <div><label class="badge bg-success" style="width: 100px;" (click)="ModalStatus(templateChangeStatus)">Activer</label></div></td>
        <td *ngIf = "! pr.isActive"><div><label class="badge bg-danger" style="width: 100px;"  (click)="ModalStatus(templateChangeStatus)">Desactiver</label></div></td>
        <!-- <td *ngIf = "! pr.isActive"><h4> <span class="badge rounded-pill text-bg-danger" (click)="ModalStatus(templateChangeStatus)">Desactiver</span></h4></td> -->
        
        <td><button type="button" id="update" class="btn btn-success btn-sm" (click)="updatePriorite(pr)" style="margin-right: 10px;"><i class="fas fa-edit"></i> Modifier</button> 
         <button type="button" id="delete" class="btn btn-danger btn-sm" (click)="ConfirmModal(templateDelete)"><i class="fas fa-trash"></i> Supprimer</button></td>
         
<!-- Modal Delete -->
        <ng-template #templateDelete>
          <div class="modal-header text-center"> <h4>Voulez vous Supprimer ?</h4></div>
          <div class="modal-body text-center">
            <button type="button" class="btn btn-primary" style="margin-right: 20px;"  [disabled]="clicked" (click)="Delete(pr.id);">
                <span *ngIf="clicked" class="spinner-border spinner-border-sm" aria-hidden="true"></span> 
             Confirmer
            </button> 
            <button type="button" class="btn btn-danger" (click)="decline()">Annuler </button>
          </div>
        </ng-template>
<!-- Modal Delete -->

<!-- Modal Changer Status -->
        <ng-template #templateChangeStatus>
          <div class="modal-header text-center"> <h4>Voulez vous Changer le status ?</h4></div>
          <div class="modal-body text-center">
            <p>Cette opération vous permet de changer le status d'une priorité</p>
            <button type="button" class="btn btn-primary" style="margin-right: 20px;"  [disabled]="clicked" (click)="Changerstatus(pr);">
                <span *ngIf="clicked" class="spinner-border spinner-border-sm" aria-hidden="true"></span> 
             Confirmer
            </button> 
             
            <button type="button" class="btn btn-danger" (click)="declineStatus()">Annuler </button>
          </div>
        </ng-template>
<!-- Modal Changer Status -->

           
      </tr>
    </tbody>
  </table>
 


    <pagination-controls id="MicroservicePagination" class="my-pagination" (pageChange)="p = $event"
    previousLabel="Prec " nextLabel="Suiv ">
    </pagination-controls>
    
  </div>
  </div>
  </div>
  
  </div>
  
  </div>
  </div>
  